* {
    margin: 0;
}
.header {
    height: 166px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 27px;
    text-align: center;
    align-items: center;
    padding: 0 8.6%;
}
.logo {
    background-image: url('/images/logo.svg');
    height: 111px;
    width: 111px;
}
.header__left-block {
    display: flex;
    justify-content: space-between;
    width: 405px;
    align-items: center;
}
.header__right-block {
    display: flex;
    justify-content: space-between;
    width: 395px;
}
.add-button {
    height: 60px;
    width: 264px;
    border: 0;
    border-radius: 20px;
    background-color: #CDCDCD;
    color: #FFFFFF;
    font-size: 27px;
    font-family: 'Euclid Circular B';
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login {
    color: #FFFFFF;
    font-size: 27px;
    height: 60px;
    width: 163px;
    background-color: #A9D376;
    border: 0;
    border-radius: 20px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 27px;
    font-family: 'Euclid Circular B';
    display: flex;
    align-items: center;
    justify-content: center;
}
.basket {
    font-size: 27px;
    color: #FFFFFF;
    height: 60px;
    width: 212px;
    border: 0;
    border-radius: 20px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 27px;
    font-family: 'Euclid Circular B';
    background-color: #175B1C;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer {
    height: 120px;
    width: 100%;
    background-color: #A9D376;
}
.footer__container {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 8.6%;
    justify-content: space-between;
}
.footer__label {
    color: #262626;
    font-family: 'Euclid Circular B';
    font-size: 20px;
    font-weight: 600;
}
.footer__text {
    color: #262626;
    font-family: 'Euclid Circular B';
    font-size: 20px;
    margin-left: 3.7%;
}
.text-container {
    display: inline;
    width: 60%;
}