<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% endblock %}
{% block content %}
<body>
    <a href="/user/add">Создать пользователя</a>
    <a href="/users/list">Посмотреть пользователей</a>
</body>
{% endblock %}
</html>