<div class="item">
    <div>
        <img src="" alt="">
        <div class="item__info">
            <p class="item__name"></p>
            <p class="item__ingredients"></p>
        </div>
    </div>
    <div class="separator"></div>
    <div class="item-management">
        <span class="item__price"></span>
        <span class="item__remove"></span>
        <div class="amount-management">
            <span class="minus"></span>
            <span class="amount"></span>
            <span class="plus"></span>
        </div>
    </div>
</div>